#Contenu_image {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#Contenu_image img:hover {
  transform: scale(1.01);
  cursor: pointer;
}

#Contenu_image img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

#disponible {
  color: green;
}

#indisponible {
  color: red;
}
#contenu_image {
  margin: 0 8px;
  /* Ajoutez une marge horizontale de 10px entre les divs enfants */
  padding: 5px;
  border: 0.1px solid #ecf0f3;
  width: fit-content;
  border-radius: 10px;
}
.mad {
  color: black;
  font-weight: 900;
}

.prix {
  font-size: 18px;
}

/* CSS button résérvation */
.button-reservation {
  margin-top: 20px;
  margin-left: 50px;
  text-align: "center";
  padding: 1em 2.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-reservation:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 15s linear infinite;
  transition: opacity 0.1s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-reservation:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* Fin Style CSS button résérvation */
